.idea
.env
node_modules
test*
.serverless
*.log
warperpass.json
s3bucket.json
EXGW/s3
local.properties
mobile_android.iml
.gradle
app.iml
build
project.xcworkspace
xcuserdata
*.qgs
*Backward*.json
*Forward*.json
*-darwin-x64
*-win32-x64
*-darwin.zip
*-win32.zip
out
dist