<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!--meta name="viewport" content="width=device-width, initial-scale=1"-->
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <title>Maplat Editor</title>
  <link href="css/theme.css" rel="stylesheet">
</head>

<body>

<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Maplat Editor</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">地図編集</a></li>
        <li><a href="#" data-nav="applist.html">アプリ編集</a></li>
        <li><a href="#" data-nav="settings.html">設定</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<div class="container main" role="main" id="main">
  <div class="row title-container" id="title-vue"></div>
  <!-- タブ・メニュー -->
  <ul class="nav nav-tabs nav-justified" role="tablist">
    <li class="active"><a href="#metadataTab" data-toggle="tab" role="tab">メタデータ</a></li>
    <li><a href="#gcpsTab" data-toggle="tab" role="tab" disabled>対応点設定</a></li>
    <li class="disabled"><a href="#landmarkTab" data-toggle="tab" role="tab">ランドマーク設定</a></li>
  </ul>

  <!-- タブ内容 -->
  <div class="tab-content">
    <div class="tab-pane active" id="metadataTab">
      <form id="metadataTabForm"></form>
    </div>
    <div class="tab-pane h100" id="gcpsTab">
      <div id="gcpsTabDiv"></div>
    </div>
    <div class="tab-pane" id="landmarkTab">
      <p>タブＣの内容</p>
    </div>
  </div>
</div> <!-- /container -->

<div class="modal" id="staticModal" tabindex="-1" role="dialog" aria-labelledby="staticModalLabel" aria-hidden="true" data-show="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <!--div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&#215;</span><span class="sr-only">閉じる</span>
        </button>
        <h4 class="modal-title">Static Modal タイトル</h4>
      </div--><!-- /modal-header -->
      <div class="modal-body">
        <p class="recipient"></p>
        <!--p>
          <a class="btn btn-info" href="#001" data-dismiss="modal">data-dismiss 有り</a>
          <a class="btn btn-info" href="#002">data-dismiss 無し</a>
        </p-->
      </div>
      <!--div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
        <button type="button" class="btn btn-primary">変更を保存</button>
      </div-->
    </div> <!-- /.modal-content -->
  </div> <!-- /.modal-dialog -->
</div> <!-- /.modal -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script type="text/x-template" id="title-vue-template">
  <div class="row title-container">
    <div class="col-xs-5">
      <h4><a href="#" data-nav="maplist.html">&lt;&lt;</a> <span class="map-title">{{displayTitle}}</span></h4>
    </div>
    <div class="col-xs-1">
      <label for="lang">言語</label>
    </div>
    <div class="col-xs-2">
      <select class="form-control" id="lang" aria-describedby="langHelp" v-model="currentLang"></select>
    </div>
    <div class="col-xs-2">
      <label><input type="checkbox" id="langDefault" v-bind:disabled="defaultLangFlag" v-model="defaultLangFlag">デフォルト</label>
    </div>
    <div class="col-xs-2">
      <button type="button" class="btn btn-primary" id="saveMap" v-bind:disabled="error || !dirty" v-on:click="$emit('saveMap')">保存</button>
    </div>
  </div>
</script>
<script type="text/x-template" id="metadataTabForm-template">
  <form>
    <div class="row">
      <div class="form-group col-xs-3" v-bind:class="error && error.mapID ? 'has-error' : ''">
        <label for="mapID">地図ID</label>
        <input type="text" class="form-control" id="mapID" aria-describedby="mapIDHelp" placeholder="地図IDを入力してください。" v-model="mapID" v-bind:disabled="onlyOne">
        <small class="form-text text-muted text-danger" v-if="error && (error.mapID || error.mapIDOnlyOne)">{{error.mapID || error.mapIDOnlyOne}}</small>
        <small class="form-text text-muted" v-else>一意な地図IDを入力してください。</small>
      </div>
      <div class="form-group col-xs-2" id="changeIDdiv" v-if="onlyOne">
        <label for="changeID" class="w100">　</label>
        <button type="button" class="btn btn-danger" id="changeID" v-on:click="$emit('updateMapID')">地図ID変更</button>
      </div>
      <div class="form-group col-xs-2" id="checkIDdiv" v-else>
        <label for="checkID" class="w100">　</label>
        <button type="button" class="btn btn-secondary" id="checkID" v-on:click="$emit('checkOnlyOne')" v-bind:disabled="error && error.mapID">一意性確認</button>
      </div>
      <div class="form-group col-xs-2">
        <label for="width">地図画像幅</label>
        <input type="text" class="form-control" id="width" disabled v-model="width">
      </div>
      <div class="form-group col-xs-2">
        <label for="height">地図画像高さ</label>
        <input type="text" class="form-control" id="height" disabled v-model="height">
      </div>
      <div class="form-group col-xs-1">
        <label for="height">拡張子</label>
        <input type="text" class="form-control" id="imageExtention" disabled v-model="imageExtentionCalc">
      </div>
      <div class="form-group col-xs-2">
        <label for="uploadMap" class="w100">　</label>
        <button type="button" class="btn btn-secondary" id="uploadMap" v-on:click="$emit('mapUpload')">地図アップロード</button>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-xs-4" v-bind:class="error && error.title ? 'has-error' : ''">
        <label for="title">地図名称(表示用)</label>
        <input type="text" class="form-control" id="title" aria-describedby="titleHelp" placeholder="地図名称(表示用)を入力してください" v-model="title">
        <small class="form-text text-muted text-danger" v-if="error && error.title">{{error.title}}</small>
        <small class="form-text text-muted" v-else>地図の表示用名称を15文字(半角30文字)以内で入力してください。</small>
      </div>
      <div class="form-group col-xs-5">
        <label for="officialTitle">地図名称(正式名)</label>
        <input type="text" class="form-control" id="officialTitle" aria-describedby="officialTitleHelp" placeholder="地図名称(正式名)を入力してください" v-model="officialTitle">
        <small id="officialTitleHelp" class="form-text text-muted">地図の正式名称を入力してください。</small>
      </div>
      <div class="form-group col-xs-3">
        <label for="author">制作者</label>
        <input type="text" class="form-control" id="author" aria-describedby="authorHelp" placeholder="地図の制作者を入力してください" v-model="author">
        <small id="authorHelp" class="form-text text-muted">地図の制作者を入力してください。</small>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-xs-3">
        <label for="createdAt">作成時期</label>
        <input type="text" class="form-control" id="createdAt" aria-describedby="createdAtHelp" placeholder="作成時期を入力してください" v-model="createdAt">
        <small id="createdAtHelp" class="form-text text-muted">地図の作成時期を時代名、和暦、西暦等で入力してください。</small>
      </div>
      <div class="form-group col-xs-3">
        <label for="era">対象時期</label>
        <input type="text" class="form-control" id="era" aria-describedby="eraHelp" placeholder="対象時期を入力してください" v-model="era">
        <small id="eraHelp" class="form-text text-muted">地図に表されている時期を入力してください。省略時は作成時期で代替されます。</small>
      </div>
      <div class="form-group col-xs-3">
        <label for="contributor">所蔵者等</label>
        <input type="text" class="form-control" id="contributor" aria-describedby="contributorHelp" placeholder="所蔵者等を入力してください" v-model="contributor">
        <small id="contributorHelp" class="form-text text-muted">地図の所蔵者、提供者等を入力してください。</small>
      </div>
      <div class="form-group col-xs-3">
        <label for="mapper">マッパー</label>
        <input type="text" class="form-control" id="mapper" aria-describedby="mapperHelp" placeholder="マッピング実施者等を入力してください" v-model="mapper">
        <small id="mapperHelp" class="form-text text-muted">マッピング実施者等を入力してください。</small>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-xs-3">
        <label for="license">地図画像ライセンス</label>
        <select class="form-control" id="license" aria-describedby="licenseHelp" v-model="license" v-bind:disabled="!defaultLangFlag">
          <option value="All right reserved">著作権保持</option>
          <option value="CC BY">クリエイティブ・コモンズ 表示</option>
          <option value="CC BY-SA">クリエイティブ・コモンズ 表示-継承</option>
          <option value="CC BY-ND">クリエイティブ・コモンズ 表示-改変禁止</option>
          <option value="CC BY-NC">クリエイティブ・コモンズ 表示-非営利</option>
          <option value="CC BY-NC-SA">クリエイティブ・コモンズ 表示-非営利-継承</option>
          <option value="CC BY-NC-ND">クリエイティブ・コモンズ 表示-非営利-改変禁止</option>
          <option value="CC0">クリエイティブ・コモンズ・ゼロ</option>
          <option value="PD">パブリックドメイン</option>
        </select>
        <small id="licenseHelp" class="form-text text-muted">地図のライセンスを選択してください。</small>
      </div>
      <div class="form-group col-xs-3">
        <label for="dataLicense">マッピングデータライセンス</label>
        <select class="form-control" id="dataLicense" aria-describedby="dataLicenseHelp" v-model="dataLicense" v-bind:disabled="!defaultLangFlag">
          <option value="All right reserved">著作権保持</option>
          <option value="CC BY">クリエイティブ・コモンズ 表示</option>
          <option value="CC BY-SA">クリエイティブ・コモンズ 表示-継承</option>
          <option value="CC BY-ND">クリエイティブ・コモンズ 表示-改変禁止</option>
          <option value="CC BY-NC">クリエイティブ・コモンズ 表示-非営利</option>
          <option value="CC BY-NC-SA">クリエイティブ・コモンズ 表示-非営利-継承</option>
          <option value="CC BY-NC-ND">クリエイティブ・コモンズ 表示-非営利-改変禁止</option>
          <option value="CC0">クリエイティブ・コモンズ・ゼロ</option>
        </select>
        <small id="dataLicenseHelp" class="form-text text-muted">マッピングデータのライセンスを選択してください。</small>
      </div>
      <div class="form-group col-xs-3">
        <label for="attr">地図画像コピーライト</label>
        <input type="text" class="form-control" id="attr" aria-describedby="attrHelp" placeholder="地図画像のコピーライト表記を入力してください" v-model="attr">
        <small class="form-text text-muted text-danger" v-if="error && error.attr">{{error.attr}}</small>
        <small class="form-text text-muted" v-else>地図画像のコピーライト表記を入力してください。</small>
      </div>
      <div class="form-group col-xs-3">
        <label for="dataAttr">マッピングデータコピーライト</label>
        <input type="text" class="form-control" id="dataAttr" aria-describedby="dataAttrHelp" placeholder="マッピングのコピーライト表記を入力してください" v-model="dataAttr">
        <small id="dataAttrHelp" class="form-text text-muted">マッピングのコピーライト表記を入力してください。</small>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-xs-4">
        <label for="reference">典拠</label>
        <input type="text" class="form-control" id="reference" aria-describedby="referenceHelp" placeholder="典拠を入力してください" v-model="reference" v-bind:disabled="!defaultLangFlag">
        <small id="referenceHelp" class="form-text text-muted">地図の典拠を入力してください。</small>
      </div>
      <div class="form-group col-xs-8">
        <label for="url">地図タイルURL</label>
        <input type="text" class="form-control" id="url" aria-describedby="urlHelp" placeholder="地図タイルのURLを入力してください" v-model="url" v-bind:disabled="!defaultLangFlag">
        <small id="urlHelp" class="form-text text-muted">外部の地図タイルを用いる場合、http://...{z}/{x}/{y}.{png|jpg}の形で指定してください。標準の配置位置を使う場合は設定不要です。</small>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-xs-12">
        <label for="description">説明</label>
        <textarea class="form-control" id="description" aria-describedby="descriptionHelp" placeholder="地図の説明文を入力してください" v-model="description"></textarea>
        <small id="descriptionHelp" class="form-text text-muted">地図の説明文を入力してください。</small>
      </div>
    </div>
  </form>
</script>
<script type="text/x-template" id="gcpsTabDiv-template">
  <div class="h100">
    <div class="row map-control-header">
      <div class="col-xs-4">
        <div class="row">
          <div class="col-xs-6">
            <select class="form-control" name="editingLayer" v-model.number="currentEditingLayer">
              <option value="0">メインレイヤ</option>
              <option v-for="(sub_map, index) in sub_maps" :value="index+1">サブレイヤ{{index+1}}</option>
            </select>
          </div>
          <div class="col-xs-3">
            <button type="button" class="btn btn-secondary" v-on:click="addSubMap">レイヤ追加</button>
          </div>
          <div class="col-xs-3">
            <button type="button" class="btn btn-secondary" v-on:click="$emit('removeSubMap')" v-bind:disabled="currentEditingLayer===0">レイヤ削除</button>
          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="row">
          <div class="col-xs-4">
            <label>重要度: {{importance}}</label>
          </div>
          <div class="col-xs-4">
            <button type="button" class="btn btn-secondary" v-bind:disabled="!canUpImportance" v-on:click="upImportance">重要度UP</button>
          </div>
          <div class="col-xs-4">
            <button type="button" class="btn btn-secondary" v-bind:disabled="!canDownImportance" v-on:click="downImportance">重要度DOWN</button>
          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="row">
          <div class="col-xs-4">
            <label>前面度: {{priority}}</label>
          </div>
          <div class="col-xs-4">
            <button type="button" class="btn btn-secondary" v-bind:disabled="!canUpPriority" v-on:click="upPriority">前面度UP</button>
          </div>
          <div class="col-xs-4">
            <button type="button" class="btn btn-secondary" v-bind:disabled="!canDownPriority" v-on:click="downPriority">前面度DOWN</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row map-row">
      <div id="illstMap" class="col-xs-6 h100">
      </div>
      <div id="mercMap" class="col-xs-6 h100">
      </div>
    </div>
    <div class="row map-control-footer">
      <div class="col-xs-3">
        <label>外郭判定モード</label>
        <label class="radio-inline"><input type="radio" name="vertex" value="plain" v-model="vertexMode">平面図</label>
        <label class="radio-inline"><input type="radio" name="vertex" value="birdeye" v-model="vertexMode">鳥観図</label>
      </div>
      <div class="col-xs-3">
        <label>エラーモード</label>
        <label class="radio-inline"><input type="radio" name="strict" value="strict" v-model="strictMode">厳格</label>
        <label class="radio-inline"><input type="radio" name="strict" value="auto" v-model="strictMode">自動</label>
      </div>
      <div class="col-xs-3">
        <label>エラー状態:</label><label id="error_status">
          <span v-if="errorStatus == 'tooLessGcps'">対応点が少なすぎます。</span>
          <span v-else-if="errorStatus == 'tooLinear'">対応点が直線的に並びすぎています。もっと散らしてください。</span>
          <span v-else-if="errorStatus == 'pointsOutside'">対応点が地図領域の範囲外にあります。地図領域内に対応点を打ってください。</span>
          <span v-else-if="errorStatus == 'edgeError'">対応線にエラーがあります(対応線が交差しているなど)。修正してください。</span>
          <span v-else-if="errorStatus == 'strict'">エラーなし</span>
          <span v-else-if="errorStatus == 'strict_error'">エラー{{errorNumber}}件</span>
          <span v-else-if="errorStatus == 'loose'">エラーのため簡易モード</span>
        </label>
      </div>
      <div class="col-xs-3">
        <button type="button" class="btn btn-secondary" v-bind:class="errorNumber == 0 ? 'hide' : ''" id="viewError" v-on:click="$emit('viewError')">次のエラー表示</button>
      </div>
    </div>
  </div>
</script>
<!--script src="common/lib/require.min.js"></script>
<script>
requirejs(['js/config'],function() {
    requirejs(['mapedit'], function (app) {
    });
});
</script-->
<script src="frontend/dist/mapedit.bundle.js"></script>
</body>
</html>
