<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!--meta name="viewport" content="width=device-width, initial-scale=1"-->
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <title>Maplat Editor</title>
  <link href="../frontend/dist/maplateditor.css" rel="stylesheet">
</head>

<body>
<div id="container" class="h100">
  <nav class="navbar navbar-inverse navbar-fixed-top"></nav>
</div>
<script type="text/x-template" id="maplist-vue-template">
  <div class="h100">
    <header-template current="maplist.html" v-bind:$t="$t"></header-template>
    <div class="container main" role="main">
      <div class="row" v-bind:style="{ 'padding-left': padding + 'px', 'padding-right': padding + 'px' }">
        <div class="form-group col-xs-3" style="width: 200px; padding: 0px;">
          <a href="mapedit.html" class="btn btn-default" style="width: 200px;">{{$t('maplist.newCreate')}}</a>
        </div>
        <div class="form-group col-xs-6" v-bind:style="{ width: searchWidth + 'px' }" style="padding: 0px;">
          <input type="text" class="form-control" style="margin-left: 5px;" v-bind:style="{ width: (searchWidth - 5) + 'px' }" placeholder="検索条件を入力してください" v-model="condition">
        </div>
        <div class="form-group col-xs-3" style="width: 105px; padding: 0px;">
          <button class="btn btn-default form-group" style="width: 100px; margin-left: 5px;" v-bind:disabled="!prev" @click="prevSearch()">&lt;</button>
        </div>
        <div class="form-group col-xs-3" style="width: 105px; padding: 0px;">
          <button class="btn btn-default form-group" style="width: 100px; margin-left: 5px;" v-bind:disabled="!next" @click="nextSearch()">&gt;</button>
        </div>
      </div>
      <ul id="maplist" class="tiles-wrap animated">
        <li v-for="map in maplist" :key="map.mapID">
          <a v-bind:href="'mapedit.html?mapid=' + map.mapID">
            <div style="height: 190px; width: 190px; position: relative;">
              <img v-bind:src="map.image" v-bind:style="{ position: 'absolute', top: '0', bottom: '0', left: '0', right: '0', width: map.width + 'px', height: map.height + 'px', margin: 'auto' }">
            </div>
          </a>
          <p>{{map.name}}</p>
        </li>
      </ul>
    </div>
  </div>
</script>
<script src="../frontend/dist/maplist.bundle.js"></script>
</body>
</html>